{% extends 'back/layout.html.twig' %}

{% block title %}Conseiller{% endblock %}

{% block content %}
    <h1 class="text-center text-primary">Conseiller</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conseiller.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ conseiller.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ conseiller.roles ? conseiller.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ conseiller.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ conseiller.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ vich_uploader_asset(conseiller) }}" alt="" style="width:150px"></td>
            </tr>
            <tr>
                <th>Referent</th>
                <td>{{ conseiller.referent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conseiller.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_conseiller_edit', {'id': conseiller.id}) }}" class="btn btn-warning">Modification</a>

    {{ include('back/conseiller/_delete_form.html.twig') }}
{% endblock %}
